<center><h1 onclick="">Hello world</h1></center>

<div id="carrousel">

    <ul>
	    <li><img src="https://images.unsplash.com/photo-1483648969698-5e7dcaa3444f?ixlib=rb-0.3.5&s=c56d2f103f6e03eb14f71e6fd90fa224&auto=format&fit=crop&w=967&q=80" /></li>
		<li><img src="https://images.unsplash.com/photo-1483204358806-afc5571f655b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f1c5071cf9dbe323f52de2bc8cf1a5bc&auto=format&fit=crop&w=1050&q=80" /></li>
		<li><img src="https://images.unsplash.com/photo-1474898856510-884a2c0be546?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c273248fe3fdc5d05883723a21f176c1&auto=format&fit=crop&w=967&q=80" /></li>
    </ul>
    <div class="controls">
		<span class="prev">Precedent</span>
		<span class="next">Suivant</span>
	</div>
</div>


<div class="container">
	<nav>
		<ul id="tabs">
			<li class="current" data-tab="tab-1">Présentation</li>
			<li data-tab="tab-2">Menu</li>
			<li data-tab="tab-3">Adresse</li>
			<li data-tab="tab-4">Carte</li>
		</ul>
	</nav>

	<div id="content">
		<section id="tab-1" class="tab-content current">
			<h3>Présentation</h3> 
			<p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.</p>
		</section>
		<section id="tab-2" class="tab-content">
			<h3>Menu</h3>
			<p>Contrairement à une opinion répandue, le Lorem Ipsum n'est pas simplement du texte aléatoire. Il trouve ses racines dans une oeuvre de la littérature latine classique datant de 45 av. J.-C., le rendant vieux de 2000 ans. Un professeur du Hampden-Sydney College, en Virginie, s'est intéressé à un des mots latins les plus obscurs, consectetur, extrait d'un passage du Lorem Ipsum, et en étudiant tous les usages de ce mot dans la littérature classique, découvrit la source incontestable du Lorem Ipsum. Il provient en fait des sections 1.10.32 et 1.10.33 du "De Finibus Bonorum et Malorum" (Des Suprêmes Biens et des Suprêmes Maux) de Cicéron. Cet ouvrage, très populaire pendant la Renaissance, est un traité sur la théorie de l'éthique. Les premières lignes du Lorem Ipsum, "Lorem ipsum dolor sit amet...", proviennent de la section 1.10.32.</p>
		</section>
		<section id="tab-3" class="tab-content">
			<h3>Adresse</h3>
			<p>On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de distractions, et empêche de se concentrer sur la mise en page elle-même. L'avantage du Lorem Ipsum sur un texte générique comme 'Du texte. Du texte. Du texte.' est qu'il possède une distribution de lettres plus ou moins normale, et en tout cas comparable avec celle du français standard. De nombreuses suites logicielles de mise en page ou éditeurs de sites Web ont fait du Lorem Ipsum leur faux texte par défaut, et une recherche pour 'Lorem Ipsum' vous conduira vers de nombreux sites qui n'en sont encore qu'à leur phase de construction. Plusieurs versions sont apparues avec le temps, parfois par accident, souvent intentionnellement (histoire d'y rajouter de petits clins d'oeil, voire des phrases embarassantes).</p>
		</section>
		<section id="tab-4" class="tab-content">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2626.9206977095687!2d2.3387183155911786!3d48.82157451125245!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e671a2052da889%3A0x34fcd8b1c15d0d82!2sCit%C3%A9+Universitaire!5e0!3m2!1sfr!2sfr!4v1519756991720" width="700" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
		</section>
	</div>
</div><!-- container -->